<h1>Discounts</h1>
<%= link_to 'Add new Discount', new_merchant_discount_path %>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <h4>Name:</h4> <%= discount.name %>
    <h4>Percent Off:</h4> <%= "#{discount.percent_off}% off" %>
    <h4>Minimum Quantity:</h4> <%= discount.min_quantity %><br><br><br>
  </section>
<% end %>
